<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @service.protocol %>
</p>

<p>
  <strong>Port:</strong>
  <%= @service.port %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
