<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="row">
      <%= f.label "service_ids", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <div class="input-group input-group-sm select2-bootstrap-prepend">
              <%= f.select :service_ids, {}, {}, { class: "form-control", multiple: true } %>
          </div>
      </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
function formatService(service) { return service.text }
function formatServiceSelection(service){ return service.text }

var $element = $("#group_service_ids").select2({
    placeholder: "Select a service...",
    ajax: {
        url: "<%= services_path(format: :json) %>",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                name: params.term,
                page: params.page
            };
        },
        processResults: function (data, page) {
            var newData = [];
            data.forEach(function (i, item) {
                newData.push({
                    id: i.id,
                    text: i.name
                });
            });
            return { results: newData };
        },
        cache: true
    },
    theme: 'bootstrap',
    allowClear: true,
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: formatService,
    templateSelection: formatServiceSelection
});

var some_data = <%= raw @group_services || [] %>;

for (var d = 0; d < some_data.length; d++) {
    var item = some_data[d];
    var option = new Option(item[1], item[0], true, true);
    $element.append(option);
}
$element.trigger('change');

});

</script>
