<td><%= link_to user.email, user %></td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map { |role| [role.titleize, role] }) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
</td>
