<h3>Welcome</h3>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    <p><%= link_to 'Rules:', rules_path %> <%= Rule.count %> pending approval</p>
    <p><%= link_to 'Services:', services_path %> <%= Service.count %></p>
    <p><%= link_to 'Groups:', groups_path %> <%= Group.count %></p>
  <% end %>
<% end %>
