<%= form_for @rule, html: {class: "form-horizontal" } do |f| %>
  <% if @rule.errors.any? %>
   <div class="panel panel-danger">
    <div class="panel-heading">
     <h3 class="panel-title"><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h3>
    </div>
    <div class="panel-body">
     <ul>
      <% @rule.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
     </ul>
    </div>
   </div>
  <% end %>

  <fieldset class="fieldset">
    <legend>General</legend>

    <div class="form-group">
      <%= f.label :description, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :action, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :action, options_for_select(@actions.collect, @rule.action), {}, class: "form-control" %>
      </div>
    </div>

  </fieldset>

  <fieldset class="fieldset">
    <legend>Source</legend>

    <div class="form-group">
      <%= f.label :src_addr, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :src_addr, class: "form-control" %> 
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2"></div>
        <small id="resolved_src" class="col-sm-10"></small>
    </div>

    <div class="form-group">
        <%= f.label :sport, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= f.number_field :sport, class: "form-control" %>
        </div>
    </div>

  </fieldset>

  <fieldset class="fieldset">
    <legend>Destination</legend>

    <div class="form-group">
      <%= f.label :dst_addr, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :dst_addr, class: "form-control" %> 
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2"> </div>
        <small id="resolved_dst" class="col-sm-10"></small>
    </div>

  </fieldset>

  <fieldset>
    <legend>Services</legend>

    <div class="row">
        <%= f.label "service_ids", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <div class="input-group input-group-sm select2-bootstrap-prepend">
                <%= f.select :service_ids, {}, {}, { class: "form-control", multiple: true } %>
            </div>
        </div>
    </div>

    <div class="row">
        <%= f.label "group_ids", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <div class="input-group input-group-sm select2-bootstrap-prepend">
                <%= f.select :group_ids, {}, {}, { class: "form-control", multiple: true } %>
            </div>
        </div>
    </div>

  </fieldset>

  <br />
  <br />

  <div class="row">
    <div class="actions col-sm-2">
      <%= f.submit 'Save changes', class: "btn btn-success" %>
    </div>
  </div>
<% end %>

<br />

<script type="text/javascript">
$(document).ready(function() {
function formatService(service) { return service.text }
function formatServiceSelection(service){ return service.text }

$("#rule_src_addr").change(function() {
    $.ajax({
        url: "/reverse",
        data: { ip: $("#rule_src_addr").val() }, 
        dataType: "json",
        success: function(data) {
            $("#resolved_src").text("");
            $.each(data, function(i, item) {
                if (item.hostname) {
                    $("#resolved_src").text(item.hostname);
                }
            });
        }
    });
});

$("#rule_dst_addr").change(function() {
    $.ajax({
        url: "/reverse",
        data: { ip: $("#rule_dst_addr").val() }, 
        dataType: "json",
        success: function(data) {
            $("#resolved_dst").text("");
            $.each(data, function(i, item) {
                if (item.hostname) {
                    $("#resolved_dst").text(item.hostname);
                }
            });
        }
    });
});

var $element = $("#rule_service_ids").select2({
    placeholder: "Select a service...",
    ajax: {
        url: "<%= services_path(format: :json) %>",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                name: params.term,
                page: params.page
            };
        },
        processResults: function (data, page) {
            var newData = [];
            data.forEach(function (i, item) {
                newData.push({
                    id: i.id,
                    text: i.name
                });
            });
            return { results: newData };
        },
        cache: true
    },
    theme: 'bootstrap',
    allowClear: true,
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: formatService,
    templateSelection: formatServiceSelection
});

var some_data = <%= raw @rule_services || [] %>;

for (var d = 0; d < some_data.length; d++) {
    var item = some_data[d];
    var option = new Option(item[1], item[0], true, true);
    $element.append(option);
}
$element.trigger('change');

var $groups_element = $("#rule_group_ids").select2({
    placeholder: "Select a group...",
    ajax: {
        url: "<%= groups_path(format: :json) %>",
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                name: params.term,
                page: params.page
            };
        },
        processResults: function (data, page) {
            var newData = [];
            data.forEach(function (i, item) {
                newData.push({
                    id: i.id,
                    text: i.name
                });
            });
            return { results: newData };
        },
        cache: true
    },
    theme: 'bootstrap',
    allowClear: true,
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: formatService,
    templateSelection: formatServiceSelection
});

var group_data = <%= raw @rule_groups || [] %>;

for (var d = 0; d < group_data.length; d++) {
    var item = group_data[d];
    var option = new Option(item[1], item[0], true, true);
    $groups_element.append(option);
}
$groups_element.trigger('change');

});
</script>
