<p class="text-success"><%= notice %></p>

<div class="page-header">
  <h1>Listing Rules</h1>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Action</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Services</th>
      <th>Groups</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.id %></td>
        <td><%= rule.action %></td>
        <td><%= rule.src_addr %></td>
        <td><%= rule.dst_addr %></td>
        <td>
        <% rule.services.each do |service| -%>
          <p><%= service.name %></p>
        <% end %>
        </td>
        <td>
        <% rule.groups.each do |group| -%>
          <p><%= group.name %></p>
        <% end %>
        </td>
        <td><%= rule.description %></td>
        <td><%= link_to 'Details', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Delete', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path, :class => 'btn btn-primary' %>
