<div class="row">
  <h2>Details</h2>
</div>

<div class="row">
  <p id="notice" class="text-success"> <%= notice %> </p>
</div>

<div class="row">
  <p>
    <strong>Description:</strong>
    <%= @rule.description %>
  </p>
</div>
  
<div class="row">
  <p>
    <strong>Action:</strong>
    <%= @rule.action %>
  </p>
</div>
  
<div class="row">
  <p>
    <strong>Source Address:</strong>
    <%= @rule.src_addr %>
  </p>
</div>
  
<div class="row">
  <p>
    <strong>Destination Address:</strong>
    <%= @rule.dst_addr %>
  </p>
</div>
  
<div class="row">
  <p>
    <strong>Services:</strong>
    <ul>
    <% @rule.services.each do |service| %>
      <li><%= service.name %></li>
    <% end %>
    </ul>
  </p>
</div>
  
<div class="row">
  <p>
    <strong>Groups:</strong>
    <ul>
    <% @rule.groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
    </ul>
  </p>
</div>

<div class="row">
    <h2>Packet Tracer <small>Phases</small></h2>
    <% unless @phases.nil? %>
        <%= render partial: 'layouts/hash_table', object: @phases, as: 'table' %>
    <% end %>
</div>

<div class="row">
    <h2>Packet Tracer <small>Result</small></h2>
    <%= render partial: 'layouts/hash_table', object: @result, as: 'table' %>
</div>

<div class="row">
  <%= link_to 'Edit', edit_rule_path(@rule), :class => 'btn btn-primary' %> |
  <%= link_to 'Back to overview', rules_path, :class => 'btn btn-default' %>
</div>
