<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <% table[0].each_key do |th| %>
                <th><%= th %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% table.each do |row| %>
            <tr>
                <% row.each_value do |td| %>
                <td><%= td %></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
